html,
body {
  scroll-behavior: smooth;
  scroll-padding: 16px;
  scrollbar-gutter: stable;
}

// Remove blue highlight from mobile users
@media screen and (max-width: 1024px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
}
