/* Page and layout enter/leave transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Slide transition */
.slide-enter-active,
.slide-leave-enter {
  transform: translateY(0);
  transition: all 0.3s linear;
}
.slide-enter,
.slide-leave-to {
  transform: translateY(100%);
}

.slide-left-enter-active,
.slide-left-leave-enter {
  transform: translateX(0);
  transition: all 0.2s linear;
}
.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(100%);
}
